@import "tailwindcss";

@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-primary: hsl(var(--primary));
  --color-secondary: hsl(var(--secondary));
  --color-dark-green: hsl(var(--dark-green));

  --radius-window: var(--window-radius);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  :root {
    --background: 180, 5.26%, 11.18%;
    --foreground: 150deg 20% 88.24%;

    --primary: 180, 5.26%, 11.18%;
    --secondary: 180, 4.35%, 13.53%;

    --dark-green: 168deg 9.09% 10.78%;

    /* MacOS colors */
    --macos-title-bar-close-red: 3deg 100% 67%;
    --macos-title-bar-minimize-yellow: 41deg 99% 59%;
    --macos-title-bar-maximize-green: 128deg 65% 48%;

    --window-radius: 11px;
  }
}

@layer base {
  html {
    @apply bg-[rgba(12,21,19,0.18)] rounded-window overflow-hidden;
  }

  body {
    @apply bg-transparent text-foreground rounded-window overflow-hidden;
  }
}
